<h3>Reservation Maker</h3>

<h4>Booked Reservations</h4>
<table class="table">
	<tr>
		<th>Date</th>
		<th>Starts</th>
		<th>Ends</th>
	</tr>
	<% @reservations.each do |res| %>
		<tr>
			<td><%= res.date  %></td>
			<td><%= res.start_time  %></td>
			<td><%= res.end_time  %></td>
		</tr>

	<% end %>

</table>


<h4>Submit for new reservation</h4>
<%= simple_form_for @res do |res| %>

	<%= res.input :date %>
	<%= res.input :block, collection: @blocks, :include_blank => false %>
<!-- 	< %= res.input :start_time, :ampm => true, :discard_minute => true %>
	< %= res.input :end_time, :ampm => true, :discard_minute => true %>
 -->	
 	<%= res.input :is_performance %>
	
	
	<%= res.button :submit %>
<% end %>
